@font-face {
  font-family: "Amnesty Trade Gothic Bold Condensed";
  src: url("/AmnestyTradeGothicBold.ttf");
}

@font-face {
  font-family: "Amnesty Trade Gothic Roman";
  src: url("/AmnestyTradeGothic.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}
